@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-bg : #EFF2F1;
    --header-bg : #4059AD;
    --second-bg : #6B9AC4;
}

body {
    margin: 0;
    /*background-color: var(--main-bg);*/
    background-image: url("medias/pattern.png");
}
#header {
    background-color: var(--header-bg);
    display: flex;
    animation-name: slide-up;
    animation-duration: 200ms;
    animation-timing-function: ease-out;

}

#header > * > * {
    align-self: center;
    margin: 1%;
}

#header-left > h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: black;
}

@media screen and (min-width: 601px) { /*Format PC*/
    #header > h1 {
        font-size: 150%;
    }

    #header {
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) { /*Format Tel */
    #header > h1 {
        font-size: 100%;
    }

    #header {
        flex-direction: column;
    }
}

#header-left {
    display: flex;
    flex-direction: left;
    width: 60%;
}

#logo-header {
    width: 5%;
    margin: 2%;
}

#logo-header:hover {
    fill: #6B9AC4;
    cursor: pointer;
}

#nav-bar {
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    margin-right: 2%;

}

#nav-bar > a {
    text-decoration: none;
    color: black;

}

.nav-item {
    margin: 4%;
}

.nav-link {
    font-family: Nagoda;
}

#login-link {
    width: 60px;
    height: 60px;
    background-color: #6B9AC4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border-color: #6B9AC4;
    border-style: solid;
}

#login-link:hover {
    background-color: #ffffff00;
    cursor: pointer;
    
}

.container {
    width: min-content;
    height: min-content;
    padding: 25px;
    border-radius: 20px;
    margin: 2%;
    font-family: 'Poppins', sans-serif;
}

.glass {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.185);
    border: 1px solid rgba(255,255,255,0.18);
}

.input-form {
    border-radius: 100px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.submit-form {
    border-radius: 100px;
    padding: 5%;
    min-width: 100%;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    transition: background-color 500ms;
}

.submit-form:hover {
    transition: background-color 500ms;
    cursor: pointer;
    background-color: rgba(255,255,255,0.18);
    
}



#signup-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10%;
}

@keyframes slide-up {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: initial;
    }
}
