@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-bg : #EFF2F1;
    --header-bg : #4059AD;
    --second-bg : #6B9AC4;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /*background-color: var(--main-bg);*/
    background-image: url("medias/pattern.png");
    display: flex;
    flex-direction: column;
    min-height: 125vh;
    overflow-x: hidden;
}
#header {
    /*background-color: var(--header-bg);*/
    display: flex;
    animation-name: slide-up;
    animation-duration: 200ms;
    animation-timing-function: ease-out;

}

#header > * > * {
    align-self: center;
    margin: 1%;
}

#header-left > h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: black;
}

@media screen and (min-width: 601px) { /*Format PC*/
    #header > h1 {
        font-size: 150%;
    }

    #header {
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) { /*Format Tel */
    #header > h1 {
        font-size: 100%;
    }

    #header {
        flex-direction: column;
    }
}

#header-left {
    display: flex;
    flex-direction: left;
    width: 60%;
}

#logo-header {
    width: 5%;
    margin: 2%;
}

#logo-header:hover {
    fill: white;
    cursor: pointer;
}

#logo-footer {
    display: flex;
    flex-direction: left;
    width: 3%;
    margin: 0 auto;
}

#logo-footer:hover {
    fill: white;
}

#footer-nav {
    margin: 10px;
    padding: 10px;
}

#footer-nav > a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#footer-nav > a:hover {
    text-decoration: underline;
}

#partenaire-nav {
    display: grid;
    grid-auto-flow: column;
    margin-top: 100px;
    width: 100%;
    justify-items: center;
}



#nav-bar {
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    margin-right: 2%;

}

#nav-bar > a {
    text-decoration: none;
    color: black;

}

.nav-item {
    margin: 4%;
}

.nav-link {
    font-family: 'Poppins', sans-serif;;
}

.nav-link:hover {
    text-decoration: underline;
}

.auth-link {
    width: 60px;
    height: 60px;
    /*background-color: #6B9AC4;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    /*border-color: #6B9AC4;*/
    /*border-style: solid;*/
}

#send-doc:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255,255,255,0.1));
    cursor: pointer;
}

.container {
    width: min-content;
    height: min-content;
    padding: 25px;
    border-radius: 20px;
    margin: 2%;
    font-family: 'Poppins', sans-serif;
}

.container-large {
    width: fit-content;
    height: max-content;
    padding: 30px;
    border-radius: 20px;
    margin: 2%;
    font-family: 'Poppins', sans-serif;
}
.container-page {
    width: 100% - 10px;
    height: max-content;
    padding: 10px;
    border-radius: 20px;
    margin: 2%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
}

.container-inpage {
    width: 100% - 25px;
    height: max-content;
    padding: 25px;
    border-radius: 20px;
    margin: 2%;
    font-family: 'Poppins', sans-serif;
}

.compet {
    display: flex;
    flex-direction: column;
    min-width: 70%;
}

.container-compet {
    width: 100% - 25px;
    height: max-content;
    padding: 25px;
    border-radius: 20px;
    margin: 2%;
    font-family: 'Poppins', sans-serif;
    justify-items: center;
    display: grid;
}

.img-compet {
    height: 30%;
    max-height: 600px;
    align-self: center;
    border-radius: 20px;
}

.bold {
    font-weight: bold;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.glass {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.185);
    border: 1px solid rgba(255,255,255,0.18);
    transition: background-color 1000ms;
}

.input-form {
    border-radius: 100px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;

}

.form-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 10%;
    text-align: center;
    font-size: 50px;

}

.member-form {
    display: flex;
    flex-direction: column;
}

.submit-form {
    border-radius: 100px;
    padding: 5%;
    min-width: 100%;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
}

.download-button {
    width: 120px;
    height: 120px;
    display: flex;
    position: fixed;
    bottom: 25px;
    right: 25px;
    align-items: center;
    justify-content: center;
    z-index: 10;
    
}

.photo-media {
    border-radius: 20px;
    max-width: 40%;
    margin: 25px;
}

.container-desc {
    width: fit-content;
    border-radius: 20px;
    padding: 25px;
    margin: 0 auto;
    font-size: 25px;
}

.media-container {
    display: grid;
    flex-direction: column;
    max-width: 50vw;
    border-radius: 20px;
    justify-items: center;
}

.titre-medias {
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
}

#signup-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 1%;
}

.error-register {
    position: fixed;
    font-size: larger;
    width: max-content;
    animation-name: slide-left;
    animation-duration: 1500ms;
    animation-timing-function: ease-out;
}

#deconnecter {
    padding: 25px;
    border-radius: 100px;
    text-align: center;
}

#deconnecter:hover {
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.1));
    cursor: pointer;
}

@keyframes slide-up {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: initial;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: initial;
    }
}

.box {
    margin: 5%;
    display: flex;
  }
  
  .one {
    border: #4059AD;
    border-style:solid;
    margin: 5%;
    flex: 1;
  }
  
  .two {
    border: #4059AD;
    border-style:solid;
    margin: 5%;
    flex: 1;
  }
  
  .three {
    border: #4059AD;
    border-style:solid;
    margin: 5%;
    flex: 1;
  }

#footer {
    margin-top: auto;
    padding-top: 25px;
    width: 100%;
    height: fit-content;
    text-align: center;
    
}

.partenaire-block {
    width: 300px;
    height: 300px;
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.glass.clickable:hover {
    transition: background 1000ms ease-in-out;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255,255,255,0.1));
    cursor: pointer;
}

.partenaire-block > img {
    width: 100%;
}